@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    animation: fadeIn .5s ease-in forwards;
    background-image:url(../img/main_background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
:root{
    --main-color:#c0aa83;
    --secondary-color:#2c2c2c;
}
*{
    letter-spacing: 0;
    font-family: "Teko", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}
section{
    animation: unset;
    min-height: 102vh;
    width: 100%;
}

/* start index */
.home{
    animation: fadeIn .5s ease-in forwards;
    position: relative;
    min-height: 96vh;
}
.header{
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.6rem 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}
.logo{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo span{
    color: var(--main-color);
}
.logo:hover{
    transform: scale(1.1);
}
.navBar a{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    color: white;
    margin-left: 2.4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
.navBar a:hover,
.navBar a.active{
    color: var(--main-color);
}
#menuIcon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
.home .main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    color: white;
    text-align: center;
}
.home .main h1{
    font-size: 12.5rem;
    font-family: "Battambang", system-ui;
    text-shadow: 10px 20px rgba(40, 40, 40, 0.7) ;
    font-weight: 900;
}
button{
    border: none;
    margin: 10px;
    margin-top: 10px;
    font-size: 16px;
    padding: .8% 2.5%; 
}
.defaultButton{
    background-color: var(--main-color);
    color: white;
    border: solid var(--main-color);
}
.defaultButton:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    color: black;
    border: solid black;
}
.aboutUsButton{
    background-color: var(--secondary-color);
    color: white;
    border: solid var(--secondary-color);
}
.aboutUsButton:hover{
    background-color: rgb(255, 255, 255);
    transition: 0.2s;
    color: black;
    border: solid black;
}
.coffee_cut{
    min-height: 5vh;
    background-image:url(../img/coffee_cut_long.png);
    background-repeat: no-repeat;
}
.aboutUs{
    position: relative;
    min-height: 70vh;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.aboutmain{
    padding: 1rem;
    width: 50%;
    font-family: sans-serif;
    padding: 11rem 8rem 8rem 8rem;
}
.aboutmain h3{
    color: var(--main-color);
    font-size: 1.4rem;
    margin-bottom: .2rem;
    font-weight: bold;
}
.aboutmain h2{
    color: black;
    font-size: 3rem;
    margin: 1px 1px 2rem 1px;
}
.aboutmain p{
    font-size: 1.45rem;
    color: rgb(67, 67, 67);
}
.aboutUs .aboutmain .defaultButton{
    font-size: 1.3rem;
    margin-top: 3.6rem;
    margin-left: 0;
}
.aboutUs .aboutmain .defaultButton:hover{
    background-color: var(--secondary-color);
    transition: 0.2s;
    color: white;
    border: solid var(--secondary-color);
}
.aboutUs .aboutinfo{
    display: grid;
    grid-template-columns: repeat(2,2fr);
    width: 50%;
}
.aboutUs .aboutinfo .infoBox{
    width: 90%;
    padding: 5rem 1rem 1rem 1rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: grey;
    font-size: .9rem;
    transition: 0.5s;
    position: inline-block;
}
.aboutUs .aboutinfo .infoBox:hover{
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.5s;
}
.aboutUs .aboutinfo .infoBox h4{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: black;   
}
.aboutUs .aboutinfo .infoBox i{
    color: var(--main-color);
    font-size: 4rem;
    margin-bottom: 1rem;
}
.products{
    font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: var(--secondary-color);
}
.products h3{
    padding-top: 6rem;
}
.products h1{
    margin-bottom: 2rem;
}
.all-products{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    overflow: hidden;
    background: #ffffff;
    color: #21201e;
    text-align: center;
    width: 320px;
    height: 540px;
    padding: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    transition: 0.5s;
}

.product .product-title, .product .product-price{
    font-size: 1.2rem;
}

.product:hover img{
    transform: scale(1.1);
}

.product img {
    height: 270px;
    margin: 1rem;
    transition: all 0.3s;
}
.product:hover {
    transform: scale(1.01);
    border: 1px var(--main-color);
}
.product-info .product-title{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.product-info .description{
    font-size: 0.8rem;
    color: #3c3c3c;
}
.product-info .product-price{
    color: var(--main-color);
    margin: 1rem 0 1rem;
}
.product a:link, .product a:visited{

    color: #ececec;
    display: inline-block;
    text-decoration: none;
    background-color: var(--main-color);
    padding: 1.2rem 3rem;
    margin-top: 1rem;
    font-size: 1rem;
    transition: all 0.2s;
    border: solid var(--main-color);
}

.product a:hover{
    color: var(--main-color);
    transform: scale(1.1);
    background-color: var(--secondary-color);
}
.products button{
    color: var(--main-color);
    background-color: var(--secondary-color);
    border: solid var(--main-color);
    font-size: 1.2rem;
    padding: 1% 3%; 
    transition: 0.3s;
    margin-top: 1rem;

}
.products-button:hover{
    transform: scale(1.1);
    transition: 0.3s;
    background-color: white;
    color: black;
    border: solid;
}
.menu{
    background-image: linear-gradient(rgba(25,25,25,0.4),rgba(25,25,25,0.4)), url(../img/menu-background.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    display: grid;
    place-items: center;
    min-height: 110vh;
}
.menu .container{
    background-color: var(--main-color);
    width: 50%;
    min-height: 80%;
}
.menu .container .header{
    display: flex;
    flex-direction: column;
}
.menu .container .header .title{

    text-align: center;

}
.menu .container .header .title h3{
    margin-top: 2rem;
    font-size: 1rem;
    color: white;
}
.menu .container .header .title h1{
    font-size: 3rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
}

.menu .container .header .nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu .container .header .nav-bar a{
    font-size: 1.4em;
    color: black;
    margin-left: 4rem;
    margin-right: 4rem;
    font-weight: bolder;
    transition: 0.3s ease;
}
.menu .container .header .nav-bar a:hover,
.menu .container .header .nav-bar a.active
{
    color: white;
}
.menu .container .menu-frame{
    display: grid;
    place-items: center;
}
.menu .container .menu-frame iframe{
    width: 80%;
    min-height: 570px;
}
.menu-container{
    background-color: var(--main-color);
}
.menu-container .container{
    padding-right: 1rem;
} 
.menu-container .box-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
}
.menu-container .box-item h1{
    color: var(--secondary-color);
    background-color: var(--main-color);
    font-size: 1.5rem;
    z-index: 1;
}
.menu-container .box-info{
    font-weight: lighter;
    font-size: .75rem;
    color: black;
    padding-bottom: 4rem;
}

.testimonials{
    background-image: linear-gradient(rgba(25,25,25,0.8),rgba(25,25,25,0.8)), url(../img/main_background2.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    padding: 100px 0;
    display: grid;
    place-items: center;
    min-height: 80vh;
}
.testimonials .container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
.section-head{
    position: relative;
    z-index: 0; 
    text-align: center;
    margin-bottom: 50px;
}
.section-head .under-title{
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}
.section-head .back-title{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 12rem;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(34, 34, 34);
    padding-top: 2rem;
    z-index: -1;
}
.section-head .title{
    font-size: 3.6rem;
    font-weight: 600;
    color: white;
}
.testimonials-item{
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}
.testimonials-item .info{
    display: flex;
    align-items: center;
}
.testimonials-item img{
    max-width: 80px;
    border-radius: 50%;
    margin-right: 20px;
    vertical-align: middle;
}
.testimonials-item .name{
    font-size: 24px;
    text-transform: capitalize;
    font-weight: 600;
    color: black;
    line-height: 1.2;
}
.testimonials-item .job{
    text-transform: capitalize;
    color: rgb(102, 102, 102);
}
.testimonials-item p{
    margin-top: 20px;
    color: rgb(102, 102, 102);
}
.testimonials-item .rating{
    margin-top: 15px;
    font-size: 14px;
    color: rgb(245, 184, 92);
}
.testimonials .swiper-pagination{
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
.testimonials .swiper-pagination-bullet{
    height: 12px;
    width: 12px;
    background-color: white;
}
.blog{
    min-height: 110vh;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.blog .section-head{
    padding-top: 4rem;
    padding-bottom: 4rem;
    z-index: 0; 
    position: relative;
}
.blog .section-head .title{
    color: white;
}
.all-blogs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.blogs{
    overflow: hidden;
    background: transparent;
    color: #21201e;
    width: 500px;
    height: 640px;
    display: flex;
    flex-direction: column;
    margin: 2rem;
    transition: 0.5s;
    position: relative;
    cursor: pointer;
}
.blogs .img-holder{
    height: 400px;
    width: 500px;
    overflow: hidden;
}

.blogs .img-holder img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.8s;
}
.blogs:hover .img-holder img{
    transform: scale(1.2);
}
.blog-info .blog-title{
    color: var(--main-color);
    font-size: 2rem;
    margin: 2rem 0 1rem;
    transition: all 0.8s;
}
.blog-info .blog-title:hover{
    transition: all 0.8s;
    color: black;
}
.blog-info .description{
    color: white;
}
.blog-details{
    padding:.5rem 1rem .5rem 1rem;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.blog-details:hover .date .day{
    transition: all 0.8s;
    color: black;
}
.blog-details .date{
    display: flex;
    flex-direction: row;
    letter-spacing: 0;
}
.blog-details .date .day{
    transition: all 0.8s;
    color: var(--main-color);
    margin-right: .5rem;
    font-size: 2.18rem;
}
.blog-details .date .month-year{
    font-size: .9rem;
    padding-top: 3px;
}
.blog-details .info{
    padding: .8rem 0 .8rem;
    display: flex;
    flex-direction: row;
}
.blog-details .info p{
    padding-left: 1rem;
}
.footer{
    background-image: url(../img/footer_map.png);
    background-color:rgb(31, 31, 31);
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}
.footer a{
    color: white;
    transition: all 0.3s;
} 
.footer a:hover{
    color: var(--main-color);
    transition: all 0.3s;
}
.footer div{
    width: 80%;
} 
.footer h1{
    color: var(--main-color);
    font-size: 2.1rem;
    font-weight: 700;
} 
.footer .main p{
    margin: 2rem 0 1rem 0;
    color: gray;
    font-size: 1.2rem;
    font-weight: lighter;
}
.footer .all-explore{
    display: flex;
    flex-direction: row;
}
.footer .explore .container{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}
.footer .explore .container a{
    margin-top: 2rem;   
}
.footer .explore .container a i{
    color: var(--main-color);
}
.footer .contact-us p{
    color: gray;
    margin-top: 1rem;
    font-size: 1rem;
}
.footer .contact-us i{
    color: var(--main-color);
    margin-right: .6rem;
}
.footer .contact-us .container{
    margin-top: 2rem;
}
footer{
    position: relative;
    min-height: 6vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
}
footer div{
    width: 100%;
    display: grid;
    place-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    text-align: center;
    position: relative;
}
footer p a{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer a i{
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    font-size: 2.5rem;
    width: 100%;
    float: right;
}

.constructionhome{
    background-image: linear-gradient(rgba(25,25,25,0.8),rgba(25,25,25,0.8)), url(../img/main_background2.jpeg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 100vh;
}
.constructionhome .construction{
    max-width: 40%;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%,-50%);
}
.construction h1{
    text-shadow: 10px 10px rgba(40, 40, 40, 0.7) ;
    color: white;
    font-size: 5rem;
    margin-bottom: 2rem;
}
.construction p{
    color: white;
    font-size: 1.4rem;
    margin-bottom: 4rem;
}
/* end index *********************************************************************************************************************** */

.about-us-home{
    min-height: 10vh;
}
.top-bar{
    display: flex;
    flex-direction: column;
    vertical-align: center;
    min-height: 30vh;
    background-image: linear-gradient(rgba(25,25,25,0.9),rgba(25,25,25,0.9)), url(../img/main_background2.jpeg);
    padding: 6rem;
    font-size: 3rem;
}
.top-bar h1{
    color: white;
}
.top-bar .text{
    color: white;
    font-size: 1.6rem;    
    display: flex;
    flex-direction: row;
}
.top-bar .text i{
    font-size: 1.2rem;
}
.top-bar .text a{
    padding-right: 1rem;
    color: var(--main-color);
    transition: 0.5s ease;
}
.top-bar .text a:hover{
    transform: scale(1.1);
}
.intro{
    min-height: 60vh;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.intro .img-box{
    display: grid;
    place-items: center;
    width: 50%;
}
.intro .img-box img{
    width: 400px;
    height: 400px;
}
.aboutus .aboutUs{
    position: relative;
    min-height: 30vh;
}
.aboutus .aboutUs .aboutinfo{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    flex-direction: row;
    width: 80%;
    padding-bottom: 12rem;
}
.representation{
    background-color: var(--secondary-color);
    display: grid;
    align-items: center;
}
.representation .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.representation .container div{
    width: 30%;
}
.representation .container .box{
    height: 100%;
    width: 35%;
    padding: 3rem;
}
.representation .container .box h3{
    color: var(--main-color);
    font-size: 2rem;
}
.representation .container .box h4{
    color: #ffdfc3;
    font-size: 1.3rem;
}
.representation .container .box .description{
    font-weight: lighter;
    color: #ffffff;
    padding: 1rem 2rem 2rem 2rem;
    font-size: 1.1em;
}
.representation .container .box i{
    color: var(--main-color);
}
.representation .container .box p{
    font-size: 1rem;
    color: #ffffff;
}
.representation .container img{
    width: 100%;
}
.opening{
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
.opening .container{
    border: solid var(--main-color);
    border-width: .15rem;
    width: 30%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opening .container h2{
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    letter-spacing: 0;
}
.container .barier{
    font-size: .8rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container .barier .line{
    margin: 1rem;
    background-color: var(--main-color);
    padding: .08rem;
    width: 60%;
    height: 80%;
}
.container .schedule{
    margin: 2rem;
    color: rgb(71, 71, 71);
    font-size: 1.4rem;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}
.container .schedule p{
    font-weight: bold;
    margin: .8rem;
} 

/* end about *********************************************************************************************************************** */

.products-container{
    background-color: white;
    overflow: hidden;
}
.container {
    overflow: hidden;
}     
.filterDiv {
    display: none;
}
.show {
    display: block;
}
.products-container .navBar a{
    font-size: 1.4rem;
    color: var(--secondary-color);
    cursor: pointer;
}
.products-container .navBar .active1{
    color: var(--main-color);
    cursor: pointer;
}
.bar-container{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blog-container{
    background-color: white;
}
.blog-container .blogs{
    transform: scale(.9);
}
.blog-container .blogs .blog-info p{
    color: black;
}

.testimonials-section{
    background-color: white;
}
.testimonials-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.test{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    border-bottom : solid var(--main-color);
    border-width: .1rem;
    padding: 1rem;
    margin: 2rem;
}
.test .info{
    width: 60%;
    font-size: 1.4rem;
}
.test .discription{
    margin: 1rem;
    font-size: 1rem;
}
.test .discription span{
    color: var(--main-color);
    font-size: 1.1rem;
}
.test .rating{
    color: rgb(245, 184, 92);
}
@media (max-width: 1440px){
    .home .main h1 {
        font-size: 9rem;
    }
    p{
        font-size: 80%;
    }
    .blogs{
        width: 392px;
        height: 620px;
        margin: 1rem;
    }
    .product{
        width: 280px;
        height: 520px;
        padding: 1.4rem;
        margin: 1rem;
    }
    .top-bar{
        font-size: 80%;
    }
    .opening .container{
        width: 60%; 
    } 
}
@media (max-width: 1024px){
    .header{
        padding: 1rem 1%;
    }
    p{
        font-size: 90%;
    }
    .home .main h1 {
        font-size: 6rem;
    }
    .aboutUs .aboutmain,
    .aboutUs .aboutinfo .infoBox {
        width: 100%;
    }
    .intro .img-box{
        display: none;
    }
    .test .info{
        width: 100%;
        font-size: 1.4rem;
    }
    .opening .container{
        width: 80%; 
    } 
}

@media (max-width: 768px) {

    section{
        min-height: 95vh;
    }
    #menuIcon{
        display: block;
    }
    .aboutus img{
        display: none;
    }
    .header .navBar{
        position: fixed;
        top: 6rem;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: rgba(0,0,0,0.6);
        display: none;
        z-index: 10;
    }
    .header .navBar.active{
        display: block;
    }
    .header .navBar a{
        display: block;
        font-size: 1rem;
        margin: 1rem 0;
    }
    .home .main h1 {
        font-size: 4rem;
        text-shadow: 5px 10px rgba(40, 40, 40, 0.7) ;
    }
    .aboutUs,.intro {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .testimonials{
        display: none;
    }
    .section-head .back-title{
        font-size: 5.6rem;
    }
    .section-head .title{
        font-size: 2.6rem;
    }
    .aboutUs .aboutmain,.intro .aboutmain{    
        width: 100%;
        font-family: sans-serif;
        padding: 1rem 1rem 6rem 1rem;
    }
    .aboutUs .aboutmain h3,.intro .aboutmain h3{
        color: var(--main-color);
        font-size: 1rem;
        margin-bottom: .2rem;
        font-weight: bold;
    }
    .aboutUs .aboutmain h2,.intro .aboutmain h2{
        color: black;
        font-size: 2.8rem;
        margin: 1px 1px 2rem 1px;
    }
    .aboutUs .aboutmain p,.intro .aboutmain p{
        font-size: 1.2rem;
        color: rgb(47, 47, 47);
    }
    .aboutUs .aboutmain .defaultButton,.intro .aboutmain .defaultButton{
        font-size: 1rem;
        margin-top: 3.6rem;
    }
    .aboutUs .aboutinfo{
        grid-template-columns: repeat(1,1fr);
        width: 90%;
    }
    .aboutus .aboutUs .aboutinfo{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 0%;
        left: 0%;
        transform: translate(0%,0%);
        width: 100%;
        padding-bottom: 2rem;
    }
    .aboutUs .aboutinfo .infoBox{
        width: 100%;
        padding: 1rem 1rem 1rem 1rem;
        font-size: 1rem;
    }
    .aboutUs .aboutinfo .infoBox h4{
        font-size: 1rem; 
    }
    .aboutUs .aboutinfo .infoBox i{
        font-size: 2rem;
    }
    .representation .container{
        width: 100%;
        flex-direction: column;
    }
    .representation .container .box{
        width: 100%;
        padding: 1rem;
    }
    .representation .container .box .defaultButton{
        display: none;
    }
    .representation .container .box .description{
        font-weight: lighter;
        color: #ffffff;
        padding: 1rem 2rem 2rem 2rem;
        font-size: 1em;
    }
    .opening{
        background-color: white;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    .opening .container{
        width: 100%; 
    } 
    .menu .container .header .nav-bar a{
        font-size: 1.2rem;
        color: black;
        margin-left: 1rem;
        margin-right: 1rem;
        font-weight: bolder;
        transition: 0.3s ease;
    }
    .blog-info .blog-title{
        font-size: 1.2rem;
    }
    .blog-info .description{
        color: white;
        font-size: .8rem;
        padding-bottom: 1rem;
    }
    .product {
        width: 100%;
    }
    .footer{
        min-width: 100%;
        text-align: center;
        grid-template-columns: none;      
    }
    .footer .contact-us{
        width: 100%;
    }
    .footer .contact-us p{
        color: gray;
        margin-top: 1rem;
        font-size: 1rem;
    }
    .footer .contact-us i{
        color: var(--main-color);
        margin-right: .6rem;
    }
    .footer .contact-us .container{
        width: 100%;
        margin-top: 2rem;
    }
    .footer .contact-us i{
        margin-right: 0.6rem;
    }
    .footer .main{
        display: none;
    }
    .footer .explore{
        display: none;
    }
    .top-bar{
        padding: 2rem;
    }
    .top-bar h1{
        color: white;
        font-size: 3rem;
    }   
    .top-bar .text{
        font-size: 1.2rem;    
    }
    .top-bar .text i{
        font-size: 1.2rem;
    }
    .top-bar .text a{
        padding-right: .5rem;
    }
    .test{
        display: flex;
        align-items: center;
        justify-content: space-around;
        text-align: center;
        width: 98%;
        border-bottom : solid var(--main-color);
        border-width: .1rem;
        padding: 1rem;
        margin: 2rem;
    }
    .test .info{
        width: 100%;
        font-size: 1.4rem;
    }
    .test .discription{
        margin: 1rem;
        font-size: 1rem;
    }
    .bar-container{
        padding: 0;
    }
    .bar-container .navBar a{
        font-size: 1rem;
    }

}

@media (max-width: 480px) {
    .home .main h1 {
        font-size: 3rem;
    }
    .defaultButton {
        font-size: 0.8rem;
    }
    .menu .container {
        width: 100%;
    }
    .menu-container .box-item h1{
        font-size: 1rem;
        z-index: 1;
    }
    .menu-container .box-info{
        font-size: .5rem;
        color: black;
        padding-bottom: 4rem;
    }
}
